html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#projects {
    overflow: auto;
}

body {
    min-height: 100%;
    display: flex; 
    flex-direction: column;
}

.nav{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin-top: 30px;
}

.nav .right{
    float:right;
    text-align: center;
    padding: 14px 16px; 
    margin-right: 40px;
}

.nav .left{
    float: left;
    text-align: center;
    padding: 14px 16px;
    margin-left: 40px;
}

.left, .right{
    text-decoration: none;
    color: #ABABAB;
    display: inline-block; 
    margin: 0;
}

.left:visited,.right:visited{
    text-decoration: none;
    color: #ABABAB;
}

.left:hover,.right:hover{
    color: #505050;
    transition: 0.4s;
}

.left:hover:after,.right:hover:after {
    transform: scaleX(1);
}

.left::after ,.right::after{
    display:block;
    content: '';
    border-bottom: solid 3px #C5DFFE;  
    transform: scaleX(0);  
    transition: 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.left, .icon{
    opacity: 0.5;
}

.left:hover, .icon:hover{
    opacity: 1;
    transition: 0.4s;
}

a {
    font-size: 1em;
}

/**** footer ****/

#footer {
    margin-top: auto;
}

#copyright{
    color: #ABABAB;
    float: left;
    margin: 0px 0px 30px 55px;
}

#socials {
    float: right;
    margin: 0px 60px 30px 0px;
}

.icon-item {
    margin-left: 20px;
}

.icon-git {
    margin-left: 22px;
}



/***************** HOME *****************/
.space {
    line-height: 30px;
    visibility: hidden;
}

#name{
    font-size: 50px;
    font-weight: 500;
    color: #505050;
    text-align: center;
    font-size: 7vmin;
}

#app{
    color: #505050;
    text-align: center;
}

#grid-text{
    position: relative;
}

#grid{
    height: 500px;
    width: 100%;
    background-image: url('../images/corgi.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: -1;
    margin-bottom: 70px;
}



/**************** ABOUT *****************/

.container-row {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.about-img {
    min-width: 380px;
    height: 530px;
    min-height: 530px;
    border-radius: 2px;
    box-shadow: 15px 15px #C5DFFE;
    margin: 30px 70px 70px 70px;
}

.about-item {
    max-width: 900px;  
}

.resize-img {
    max-width: 100%;
    max-height: 100vh;
    width: 380px;
    height: 530px;
}

.content {
    margin: 50px 65px 70px 30px;
    color: #505050;
}

.content .abt {
    margin-top: 80px;
}

.content p{
    margin-top: 30px;
    margin-bottom: 70px;
}

.content .end {
    margin-top: 130px;
}

.mail{
    font-weight: 700;
}

.db, .mail, .cs, .berk{
    text-decoration: none;
    color: #505050;
}

.db:visited, .mail:visited, .cs:visited, .berk:visited{
    text-decoration: none;
    color: #505050;
}

.db:hover, .mail:hover, .cs:hover, .berk:hover{
    transition: 0.2s;
    color: #C5DFFE;
}


/*****************  PROJECTS *****************/
.proj-description {
    color: #505050;
    text-align: center;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
}

.proj-pic {
    z-index: 1000;
    opacity: 1;
    transition: .5s ease;
    border-radius: 5px;
}

.proj-pic:hover{
    opacity: 0.1;
}

.position {
    width: 100%;
    height: 100%;
    background-color: #E8ECEF;
    position: absolute;
    display: flex; 
    flex-direction: column;
	align-items: center; 
    justify-content: center;
    border-radius: 5px;
}

.myprojects {
    text-align: center;
    font-weight: 600;
    color: #505050;
}

#button {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 14px;
    color: #505050;
    width: 100px;
    height: 100px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition: opacity .5s, visibility .5s;
    background-color: #FEFEFE;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #505050; 
    z-index: 2000;
}

#button.show {
    opacity: 1;
    visibility: visible;
  }

/* animation */

.btnEntrance {
    animation-duration: 0.5s;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.5s;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.item{
    background-color: #E8ECEF;
    height: 250px;
    width: 380px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

#project-container {
    position: relative;
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.lang {
    font-weight: 500;
    color: #ABABAB;
}

.proj-title {
    font-weight: 600;
}

@media (max-width: 414px) {
    body{
        font-size: 10px;
    }

    #button {
        visibility: hidden;
    }

    .nav .right{
        margin: 0;
        margin-right: 20px;
        padding: 0;
    }

    .nav .left {
        margin: 0;
        margin-left: 20px;
        padding: 0;
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .icon-git {
        margin-left: 20px;
    }

    #copyright {
        margin-left: 20px;
    }

    #socials {
        margin-right: 20px;
    }

    .resize-img {
        max-width: 100%;
        max-height: 100vh;
        width: 275px;
        height: 375px;
    }

    .about-img {
        min-width: 275px;
        height: 375px;
        min-height: 375px;
        border-radius: 2px;
        box-shadow: 15px 15px #C5DFFE;
        margin: 50px 70px 0px 70px;
    }

    .content .end {
        margin-top: 70px;
    }

    .content {
        text-align: center;
        margin: 30px 30px 30px 30px;
    }

    .home-button {
        height: 15px;
        width: 15px;
    }

    .proj-pic {
        height: 200px;
        width: 330px;
    }

    /* #project-container {
        margin-top: 200px;
    } */

    .item{
        background-color: #E8ECEF;
        height: 200px;
        width: 330px;
        margin: 10px;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
    }
}

@media (max-width: 768) {
    body{font-size: 14px;}
}
